@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 3rem;
  box-sizing: border-box;
  background-color: black;
  color: white;
  max-width: 100vw;
}

/* Header Start */

.header {
  height: 30vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(95, 67, 255, 0.8),
    rgba(89, 0, 255, 0.8)),
    url("https://i.imgur.com/mjunZzX.png");
    background-size: cover;
    background-position: top;
    position: relative;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
}

.heading-primary--main {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  animation: moveInLeft 1s ease-out;
  margin: 1rem;
}

.heading-primary--sub {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  animation: moveInRight 1s ease-out;
  margin: 1rem;
}

@media (max-width: 800px) {
  .heading-primary--main {
    font-size: 2.5rem;
  }

  .heading-primary--sub {
    font-size: 2rem;
  }
}

/* .heading-primary--main */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
};

/* .heading-primary--sub */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Header End */

/* Buttons Start */

/* .btn */
@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.links-container {
  position: relative;
  /* border: 5px solid red; */
  margin-top: 1rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  background-color: #fff;
  color: #777;
  margin: 1rem;
  width: 20rem;
}

.btn-hover {
  transform: translateY(-3rem);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2)
}

.btn:active {
  transform: translateY(-1rem)
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn:hover::after {
  background-color: #fff;
}

.btn--animated {
  background-color: #fff;
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards;
}

/* Buttons End */

/* Footer Start */

footer {
  /* margin-top: 5rem; */
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

#drew-font-one {
  font-family: 'Times New Roman', Times, serif;
}

#drew-font-two {
  font-family: 'Berkshire Swash';
}

#zach-font {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

/* Footer End */